.logo {
  animation: App-logo-color infinite 20s linear;
  max-height: 75px;
}

@keyframes App-logo-color {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}


.App {
  display: flex;
  flex-direction: column;
  font-family: courier new, monospace;
  margin: 0;
}

.App-header {
  background-color: #282c34;
  animation: App-logo-color infinite 20s linear;
  color: white;
  width: 100%;
  padding: 10px 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-text h1 {
  margin: 0;
  font-size: 20px;
}

.header-text p {
  margin: 0;
  font-size: 10px;
  font-style: italic;
  color: #ccc;
}

.main-content {
  width: 80%;
  margin: 20px auto;
  flex-grow: 1;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

button {
  font-family: courier new, monospace;
  background-color: #fff;
  color: black;
  border: 1px solid;
  padding: 10px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
}

button:hover {
  background-color: #afedb9;
  animation: App-logo-color infinite 20s linear;
}

input {
  padding: 10px;
  border: 1px solid;
  borderRadius: 4px;
  fontFamily: courier new, monospace;
  fontSize: 15px;
}